# Jetbrains' .idea folder
/.idea/

# Shaders / 3D Models
*.spv
*.obj

# Unfinished scripts
build.bat
build.sh
KaguEngine/assets/shaders/compile.bat
KaguEngine/assets/shaders/compile.sh

# CMake binary directories
/cmake-build-debug/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/build/