[submodule "KaguEngine/extern/stb"]
	path = KaguEngine/extern/stb
	url = https://github.com/nothings/stb
[submodule "KaguEngine/extern/tinyobj"]
	path = KaguEngine/extern/tinyobj
	url = https://github.com/tinyobjloader/tinyobjloader