[submodule "KaguEngine/extern/glfw"]
	path = KaguEngine/extern/glfw
	url  = https://github.com/glfw/glfw
[submodule "KaguEngine/extern/stb"]
	path = KaguEngine/extern/stb
	url  = https://github.com/nothings/stb
[submodule "KaguEngine/extern/tinyobjloader"]
	path = KaguEngine/extern/tinyobjloader
	url  = https://github.com/tinyobjloader/tinyobjloader
[submodule "KaguEngine/extern/glm"]
	path = KaguEngine/extern/glm
	url = https://github.com/g-truc/glm
[submodule "KaguEngine/extern/ImGuiFork"]
	path = KaguEngine/extern/ImGuiFork
	url = https://github.com/dark-dylan-dev/ImGuiFork.git
